/*---------------------------
           CONTACT
-----------------------------*/
.header-title {
  text-align: center;
}

#tip {
  display: none;
}

.fadeIn {
  animation-duration: 3s;
}

.form-control {
  border-radius: 0px;
  border: 1px solid #EDEDED;
  &:focus {
    border: 1px solid #00bfff;
  }
}

.textarea-contact {
  resize: none;
}

.btn-send {
  border-radius: 0px;
  border: 1px solid #00bfff;
  background: #00bfff;
  color:$secondary-color;
  &:hover {
    border: 1px solid #00bfff;
    background: $secondary-color;
    color: #00bfff;
    transition: background .5s;
  }
}

.second-portion {
  margin-top: 50px;
}

.box {
  > .icon {
    text-align: center;
    position: relative;
    > .image {
      position: relative;
      z-index: 2;
      margin: auto;
      width: 88px;
      height: 88px;
      border: 8px solid white;
      line-height: 88px;
      border-radius: 50%;
      background:$bluevelvet;
      vertical-align: middle;
    }
    &:hover {
      > .image {
        background: #333;
      }
      > .image > i {
        color: white !important;
      }
      > .info {
        background: rgba(0, 0, 0, 0.04);
        border-color: #e0e0e0;
        color: white;
      }
      > .info > {
        h3.title, p, .more > a {
          color: #222;
        }
      }
      > .info > .more > a {
        color: $secondary-color;
        padding: 6px 8px;
        background-color: #63B76C;
      }
    }
    > .image > i {
      font-size: 36px !important;
      color: $secondary-color !important;
    }
    > .info {
      margin-top: -24px;
      background: rgba(0, 0, 0, 0.04);
      border: 1px solid #e0e0e0;
      padding: 15px 0 10px 0;
      min-height: 163px;
    }
    > .info > {
      h3.title {
        font-family: "Robot",sans-serif !important;
        font-size: 16px;
        color: #222;
        font-weight: 700;
      }
      p {
        font-family: "Robot",sans-serif !important;
        font-size: 13px;
        color: #666;
        line-height: 1.5em;
        margin: 20px;
      }
    }
    > .info > .more a {
      font-family: "Robot",sans-serif !important;
      font-size: 12px;
      color: #222;
      line-height: 12px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  .space {
    height: 30px;
  }
}