/*--------------------------
     PROSEDUR SERVICE
----------------------------*/
.how-it-works {
  background: #f5f5fa;
  padding-bottom: 30px;
}

.board {
  width: 100%;
  margin-bottom: 0;
  .nav-tabs {
    position: relative;
    border-bottom: 0;
    width: 80%;
    margin: 40px auto !important;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  > div.board-inner > .nav-tabs {
    border: none;
  }
  .tab-content{
    .tab-pane {
      position: relative;
      padding-top: 50px;
      p.narrow {
        font-size: 18px;
        width: 60%;
        margin: 10px auto;
      }
    }
  }
}


.liner {
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

span.round-tabs {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
  &.one {
    border: 2px solid #ddd;
    color: #ddd;
  }
}

li.active span.round-tabs {
  &.one, &.two, &.three, &.four, &.five {
    background: $bluevelvet !important;
    border: 2px solid $bluevelvet-dark;
    color: $secondary-color;
  }
}

span.round-tabs {
  &.two, &.three, &.four, &.five {
    border: 2px solid #ddd;
    color: #ddd;
  }
}

.nav-tabs > li {
  &.active > a span.round-tabs {
    background: #fafafa;
  }
  width: 20%;
  a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    &:hover {
      background: transparent;
    }
  }
}


.btn-outline-rounded {
  padding: 10px 40px;
  margin: 20px 0;
  border: 2px solid transparent;
  border-radius: 25px;
}

.btn.green {
  background-color: $bluevelvet;
  border: 2px solid $bluevelvet-dark;
  color: $secondary-color;
}

@media (max-width: 585px) {
  .board {
    width: 90%;
    height: auto !important;
  }
  span.round-tabs {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .tab-content .head {
    font-size: 20px;
  }
  .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  .btn-outline-rounded {
    padding: 12px 20px;
  }
}