/*-------------------------------
             BUTTON
--------------------------------*/
.btn-mixed-grentea{
  color:$secondary-color;
  background-color:$mixedturtashgreen;
  border-color:$primary-color;
}
