//All color variable here !!
$blackdark    :#000;
$bluesky 	  :#900;
$primary 	  :#337AB7;
$success 	  :#5CB85C;
$info 		  :#5BC0DE;
$warning 	  :#F0AD4E;
$danger	 	  :#D9534F;
$turqoise 	  :#1abc9c;
$emerald 	  :#2ecc71;
$peter 		  :#3498db;
$amethyst 	  :#9b59b6;
$asphalt 	  :#34495e;
$orange 	  :#f39c12;
$pumpkin 	  :#d35400;
$pomegranate  :#c0392b;
$redvelvet    :#ff4157;
$redvelvet-dark :#e8001d;
$greybase     :#f5f8fa;

//Base Color
$primary-color 		 :#f8f8f8;
$secondary-color	 :#fff;
$custom_panel_border :#ddd;
$color_footer 		 : #f75a47;

//Green Mixed color
$mixedgreen			 :#a3c4bc;
$mixedlategreen		 :#bfd7b5;
$mixedturtashgreen	 :#77afa1;
$mixedteal			 :#838c52;

//Border Color Navbar		
$greyborder			 :#e7e7e7;