/*---------------------------
     NAVBAR MAIN
-----------------------------*/
.navbar-default {
    background-color: $secondary-color !important;
    border-color:transparent;
  .navbar-brand{
    color: $blackdark;
  }
  .navbar-nav {
    li {
      & > a,{
        text-transform: uppercase;
      }
      & a:hover {
        color: $redvelvet;
      }
    }
    .active > {
      a {
          color:$redvelvet;
          background-color:$secondary-color;
          border-bottom: 2px solid $redvelvet;
      }
      a:hover {
        background-color: $redvelvet;
        color: $secondary-color;
      }
    }
  }
}
