/*!
  DIMAS RECOVERY
  THEME BUILD BY BOOTSTRAP LANDING PAGE
  LICENSE UNDER MIT
  Develop And Custom Theme By Dimas Prasetyo (dimasprasetyo485@gmail.com)
!*/
/*----------------------
      THEME CORE
-----------------------*/
body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

/*----------------------
    FONT FAMILY USE
------------------------*/
.font-fams-poiretOne, .section-heading, .tag-title, .content-price-list .header-list-service {
  font-family: 'Poiret One', cursive;
}

.topnav {
  font-size: 14px;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #fff;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../../img/images/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}
.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

/*----------------------
    SECTION HEADING
------------------------*/
.section-heading, .tag-title {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

/*----------------------
     PANEL SERVICE
------------------------*/
.content-price-list .box {
  background: #f5f8fa;
  transition: all 0.2s ease;
  border: 2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  min-height: 340px;
}
.content-price-list .box:hover {
  border: 2px solid #ff4157;
}
.content-price-list .box span.box-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.content-price-list .box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.content-price-list .box .box-content p {
  color: #515c66;
  text-transform: none;
}

/*----------------------
        FOOTER
------------------------*/
footer {
  background-color: #0c1a1e;
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
}

.footerleft {
  margin-top: 50px;
  padding: 0 36px;
}

.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.footerleft p {
  color: #fff;
  font-size: 12px !important;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}
.footerleft p i {
  width: 20px;
  color: #999;
}

.paddingtop-bottom {
  margin-top: 50px;
}

.footer-ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
}
.footer-ul li {
  line-height: 29px;
  font-size: 12px;
}
.footer-ul li a {
  color: #a0a3a4;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.footer-ul i {
  margin-right: 10px;
}
.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #ff670f;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}
.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

.icon {
  float: left;
  margin-right: 5px;
}

.copyright {
  min-height: 40px;
  background-color: #000000;
}
.copyright p {
  text-align: left;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 0px;
}

.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}

.post p {
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}
.post p span {
  display: block;
  color: #8f8f8f;
}

.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}
.bottom_ul li {
  float: left;
  line-height: 40px;
}
.bottom_ul li:after {
  content: "/";
  color: #fff;
  margin-right: 8px;
  margin-left: 8px;
}
.bottom_ul li a {
  color: #fff;
  font-size: 12px;
}

/*-------------------------------
             BUTTON
--------------------------------*/
.btn-mixed-grentea {
  color: #fff;
  background-color: #77afa1;
  border-color: #f8f8f8;
}

/*---------------------------
     NAVBAR MAIN
-----------------------------*/
.navbar-default {
  background-color: #fff !important;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-default .navbar-nav li > a {
  text-transform: uppercase;
}
.navbar-default .navbar-nav li a:hover {
  color: #ff4157;
}
.navbar-default .navbar-nav .active > a {
  color: #ff4157;
  background-color: #fff;
  border-bottom: 2px solid #ff4157;
}
.navbar-default .navbar-nav .active > a:hover {
  background-color: #ff4157;
  color: #fff;
}

/*--------------------------------
            RESPONSIVE
----------------------------------*/
@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}
/*----------------------
        BANNER 
------------------------*/
.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}
.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}
.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

/*---------------------------
           CONTACT
-----------------------------*/
.header-title {
  text-align: center;
}

#tip {
  display: none;
}

.fadeIn {
  animation-duration: 3s;
}

.form-control {
  border-radius: 0px;
  border: 1px solid #EDEDED;
}
.form-control:focus {
  border: 1px solid #00bfff;
}

.textarea-contact {
  resize: none;
}

.btn-send {
  border-radius: 0px;
  border: 1px solid #00bfff;
  background: #00bfff;
  color: #fff;
}
.btn-send:hover {
  border: 1px solid #00bfff;
  background: #fff;
  color: #00bfff;
  transition: background .5s;
}

.second-portion {
  margin-top: 50px;
}

.box > .icon {
  text-align: center;
  position: relative;
}
.box > .icon > .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #ff4157;
  vertical-align: middle;
}
.box > .icon:hover > .image {
  background: #333;
}
.box > .icon:hover > .image > i {
  color: white !important;
}
.box > .icon:hover > .info {
  background: rgba(0, 0, 0, 0.04);
  border-color: #e0e0e0;
  color: white;
}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
  color: #222;
}
.box > .icon:hover > .info > .more > a {
  color: #fff;
  padding: 6px 8px;
  background-color: #63B76C;
}
.box > .icon > .image > i {
  font-size: 36px !important;
  color: #fff !important;
}
.box > .icon > .info {
  margin-top: -24px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 15px 0 10px 0;
  min-height: 163px;
}
.box > .icon > .info > h3.title {
  font-family: "Robot",sans-serif !important;
  font-size: 16px;
  color: #222;
  font-weight: 700;
}
.box > .icon > .info > p {
  font-family: "Robot",sans-serif !important;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
}
.box > .icon > .info > .more a {
  font-family: "Robot",sans-serif !important;
  font-size: 12px;
  color: #222;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.box .space {
  height: 30px;
}

/*--------------------------
     PROSEDUR SERVICE
----------------------------*/
.how-it-works {
  background: #f5f5fa;
  padding-bottom: 30px;
}

.board {
  /*width: 75%;
  margin: 60px auto;
  margin-bottom: 0;
  box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
  position: relative;
  /* border-bottom: 0; */
  /* width: 80%; */
  margin: 40px auto;
  margin-bottom: 0;
  box-sizing: border-box;
}
.board > div.board-inner > .nav-tabs {
  border: none;
}

p.narrow {
  width: 60%;
  margin: 10px auto;
}

.liner {
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.nav-tabs > li.active > a {
  color: #555555;
  cursor: default;
  background-color: #fff;
  border: 0;
  border-bottom-color: transparent;
  outline: 0;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #fff;
  border: 0;
  border-bottom-color: transparent;
  outline: 0;
}

span.round-tabs {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tabs.one {
  border: 2px solid #ddd;
  color: #ddd;
}

li.active span.round-tabs.one, li.active span.round-tabs.two, li.active span.round-tabs.three, li.active span.round-tabs.four, li.active span.round-tabs.five {
  background: #ff4157 !important;
  border: 2px solid #e8001d;
  color: #fff;
}

span.round-tabs.two, span.round-tabs.three, span.round-tabs.four, span.round-tabs.five {
  border: 2px solid #ddd;
  color: #ddd;
}

.nav-tabs > li {
  width: 20%;
}
.nav-tabs > li.active > a span.round-tabs {
  background: #fafafa;
}
.nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
.nav-tabs > li a:hover {
  background: transparent;
}

.tab-pane {
  position: relative;
  padding-top: 50px;
}

.btn-outline-rounded {
  padding: 10px 40px;
  margin: 20px 0;
  border: 2px solid transparent;
  border-radius: 25px;
}

.btn.green {
  background-color: #ff4157;
  border: 2px solid #e8001d;
  color: #fff;
}

@media (max-width: 585px) {
  .board {
    width: 90%;
    height: auto !important;
  }

  span.round-tabs {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .tab-content .head {
    font-size: 20px;
  }

  .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

  .btn-outline-rounded {
    padding: 12px 20px;
  }
}
/*---------------------
  FORM WIZARD STEPS
-----------------------*/
.bs-wizard {
  margin-top: 40px;
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*----------------------
      FONT FAMILY
-------------------------*/
@font-face {
  font-family: "poiret-oneregular";
  src: url("fonts/font-poiret/Poiret One/poiretone-regular.woff.eot");
  src: url("fonts/font-poiret/Poiret One/poiretone-regular.woff.eot?#iefix") format("embedded-opentype"), url("fonts/font-poiret/Poiret One/poiretone-regular.woff.woff") format("woff"), url("fonts/font-poiret/Poiret One/poiretone-regular.woff.ttf") format("truetype"), url("fonts/font-poiret/Poiret One/poiretone-regular.woff.svg#poiret-oneregular") format("svg");
}

/*# sourceMappingURL=front-base.css.map */
