/*--------------------------------
            RESPONSIVE
----------------------------------*/
@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
    > h1 {
      font-size: 3em;
    }
  }
  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .intro-divider {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}