/*---------------------------
     NAVBAR MAIN
-----------------------------*/
.navbar-default {
  .navbar-brand{
    color: $blackdark;
    & > img.img-circle{
      position: relative;
      top: -2px;
      right: 5px;
      bottom: 0;
      display: inline-block !important;
      box-shadow: 0px 0px 2px #7f7f7f;
      -webkit-animation: floatBubble 5s infinite ease-out;
      animation: floatBubble 5s infinite ease-out;
      transition-property: top, left;
      transition-duration: 1s, 1s;
      transition-delay: 0s, 1s;
      @-webkit-keyframes floatBubble {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
           transform: translateX(-5px);
        } 
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
      }
      @keyframes floatBubble {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
      }
    }
    & img.img-circle:hover{
      transition-property: top, left;
      transition-duration: 1s, 1s;
      transition-delay: 0s, 1s; 
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
  .navbar-nav {
    li {
      & > a,{
        text-transform: uppercase;
      }
      & a:hover {
        color: $bluevelvet;
      }
    }
    .active > {
      a {
          color:$bluevelvet !important;
          background-color:$secondary-color !important;
          border-bottom: 2px solid $bluevelvet;
      }
      a:hover {
        background-color: $bluevelvet;
        color: $secondary-color;
      }
    }
  }
}
